
.imagePaper {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.cardContentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ratingDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonsBox {
    display: flex;
    justify-content: space-between;
}

.productTitle {

    /*handles how many lines of text to show*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

}